# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Firebase credentials
*firebase-adminsdk*.json
firebase-sa.json

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Next.js
.next/
out/

# Build
build/
web-build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Agents
.agents
